@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Sidebar.css */
.navigation-item {
    padding: 8px; /* Adjust the padding as needed */
    border-radius: 8px; /* Add rounded corners */
    transition: background-color 0.2s ease-in-out; /* Add a smooth transition effect */
  }
  
  .navigation-item:hover {
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
  }
 